*{
    background-color: rgb(40, 42, 61);
    color: white;
}

// VARIABLES
$notLit: rgb(119, 119, 119);
$playerOneLit: rgb(255, 238, 0);
$playerTwoLit: rgb(0, 204, 255);
$powerUp: red;



@media screen and (min-width: 320px){

    .playerSelect{
        text-align: center;
        font-size: 50px;
    }

    .topBar{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 40px;
        width: 85%;
        height: 30px;
        background-color: wheat;

        .one{
            background-color: $notLit;
            width: 15px;
            height: 20px;
            margin-left: 2px;
            margin-right: 2px;
            margin-top: 5px;
            border: 1px solid black;
        }
        .two, .three, .four, .five, .six{
            @extend .one;
        }
    }

    .topBar2{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 40px;
        width: 85%;
        height: 30px;
        background-color: wheat;

        .twoOne{
            background-color: $notLit;
            width: 15px;
            height: 20px;
            margin-left: 2px;
            margin-right: 2px;
            margin-top: 5px;
            border: 1px solid black;
        }
        .twoTwo, .twoThree, .twoFour, .twoFive, .twoSix{
            @extend .twoOne;
        }
    }

    .ticTacToeBoard{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 50px;
        width: 400px;
        height: 300px;
        background-color: rgb(167, 150, 119);

        .slotOne{
            height: 80px;
            margin-top: 10px;
            width: 30%;
            background-color: wheat;
            box-shadow: 1px 1px 13px 1px black inset;
        }
        .slotTwo, .slotThree, .slotFour, .slotFive, .slotSix, .slotSeven, .slotEight, .slotNine{
            @extend .slotOne;
        }
    }

    .theTextArea{
        display: block;
        height: 120px;
        width: 70%;
        background-color: rgb(20, 20, 20);
        box-shadow: 1px 1px 20px 1px black inset;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
        border: 2px dotted green;

        .yellowColor{
            height: 20px;
            width: 20px;
            margin-bottom: 10px;
            background-color: yellow;
        }

        .cyanColor{
            @extend .yellowColor;
            background-color: cyan;
        }

        .numDisplay{
            display: block;
            text-align: center;
            font-size: 20px;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: -50px;
        }

        #player1, #player2{
            background-color: black;
        }
    }
}